.BodyHeader {
    background-color:var(--primary-color);
    color: white;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
  
.BodyContent {
    text-align: center;
    padding-top: 2%;
    width: 60%;
    line-height: 1.5;
    margin: auto;
  h2{
      color: var(--primary-color);
      margin-bottom: 0.5em;
    }
  .FirstSection, .SecondSection, .ThirdSection, .FourthSection{
      margin: 3em;
    }
  }
  
  
.Row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  .RowIcons {
      height: 100px;
    }
  }

.LastSection {
  margin: 2em;
}
  
@media screen and (max-width: 600px) {
  .BodyContent {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
  
  .Row {
    margin-top: 5%;
    display: block;
  }
  
  .Col{
    margin: 7%;
  }
}