
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>
      You have requested for resetting the password.
    </p>
    <p>
      otp: <b><%= @user.reset_token %></b>.
    </p>
    <p>Thanks</p>
  </body>
</html>