
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to JobTriage, <%= @user.name %></h1>
    <p>
      You have successfully signed up.
    </p>
    <p>
      Verify the accout with this link: <%= @url %>.
    </p>
    <p>Thanks for joining and best of luck on your job search</p>
  </body>
</html>