.navBar {
  height: 100vh;
  background-color: #f1f1f1;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15vh;
  background-color: #f1f1f1;
}

.navBar li a {
  display: block;
  color: rgb(127, 127, 127);;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;

}

/* Change the link color on hover */
.navBar li a:hover {
  background-color: #d8d8d8;
}

.navBar li .active {
  background-color: #d8d8d8;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.logoDiv img{
  width: 40px;
}