.Header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 5vh;
    box-shadow: 0px 2px 12px 0px #d0d0d0;
    justify-content: space-between;
    img{
      width: 50px;
    }
}
  