:root {
  --primary-color: #8727db;
}

.app {
  font-size: 16px;
  color: rgb(127, 127, 127);
  height: 100vh;
}

.anchor {
  color: var(--primary-color);
  cursor: pointer;
}

.error {
  color: rgb(201, 58, 58);
}