.header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 5vh;
    box-sizing: border-box;
    box-shadow: 0px 2px 12px 0px #d0d0d0;
    justify-content: space-between;
  }
  
  .headerTitle {
    font-size: x-large;
    color: rgb(156, 143, 143);
    float: left;
  }